.img-style {
  background-image: url("https://img.freepik.com/free-vector/stem-camp-teens-background-with-programming-study-symbols-flat-vector-illustration_1284-75810.jpg?size=626&ext=jpg&ga=GA1.2.241021425.1658947178");
  background-repeat: no repeat;
  background-size: cover;
  height: 400px;
}
